#object-autofill {
  .field-container {
    flex: 1;
    position: relative;

    &.row-component > *:not(:last-child) {
      margin-right: 0;
    }
  }

  .select-component {
    flex: 1;
    & > div {
      display: flex;
      flex: 1;
      select {
        display: flex;
        flex: 1;
      }
    }
  }

  .vocabulary-autocomplete {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    z-index: 1000;
    flex-direction: column;
    top: 25px;
    min-width: 200px;
    max-width: 600px;
    max-height: 200px;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--box-border-color);
    background: var(--background-color);
    overflow-x: hidden;
    overflow-y: auto;

    li {
      padding: var(--spacing-third);
      cursor: pointer;

      &.selected {
        background-color: var(--box-selected-active-background-color);
        color: var(--box-selected-active-text-color);
      }
    }
    
  }
}

.access-type-selection {
  align-items: center;
  justify-content: center;
}