.text-box-component {
  display: flex;
  flex-direction: column;
  flex: 1;

  .label-container {
    display: flex;

    label {
      flex-grow: 1;
    }

    .link-label {
      justify-content: flex-end;
      flex-shrink: 0;
      flex-grow: 0;
    }

    margin-bottom: var(--spacing-third);
  }

  input {
    border: 1px solid var(--box-border-color);
    border-radius: var(--border-radius);
    background: var(--box-background-color);
    color: currentColor;
    font-size: var(--font-size);
    font-family: var(--font-family-sans-serif);
    height: var(--text-field-height);
    padding: 0 var(--spacing-half);

    &:focus {
      outline: none;
      border-color: var(--focus-color);
      box-shadow: 0 0 0 1px var(--text-field-focus-shadow-color);
    }

    &:disabled {
      background: var(--box-alt-background-color);
      color: var(--text-secondary-color);
    }
  }
}

.select-component {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: var(--spacing-third);
  }

  select {
    border: 1px solid var(--box-border-color);
    border-radius: var(--border-radius);
    background: var(--box-background-color);
    color: currentColor;
    font-size: var(--font-size);
    font-family: var(--font-family-sans-serif);
    height: var(--text-field-height);
    padding: 0 var(--spacing-half);
    padding: 0;
  }
}

.text-area-component {
  display: flex;
  flex-direction: column;
  flex: 1;

  textarea {
    border: 1px solid var(--box-border-color);
    border-radius: var(--border-radius);
    background: var(--box-background-color);
    color: currentColor;
    font-size: var(--font-size);
    font-family: var(--font-family-sans-serif);
    height: var(--text-field-height);
    padding: var(--spacing-half);

    &:focus {
      outline: none;
      border-color: var(--focus-color);
      box-shadow: 0 0 0 1px var(--text-field-focus-shadow-color);
    }

    &:disabled {
      background: var(--box-alt-background-color);
      color: var(--text-secondary-color);
    }

    height: auto;
    resize: none;
    min-height: 100px;
  }
}