#project {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}

#blank-object {
  display: flex;
  flex-direction: column;
  background: var(--box-alt-background-color);
  color: var(--text-secondary-color);
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--spacing);
}

.blankobject-image {
  width: 50%;
}

#multiple-objects {
  display: flex;
  flex-direction: column;
  background: var(--box-alt-background-color);
  color: var(--text-secondary-color);
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--spacing);

  .button-group {
    .button-component:not(:last-child) {
      margin-right: var(--spacing);
    }
  }

}

.multiple-objects-image {
  width: 50%;
}

#object-sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--box-border-color);
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.object-list-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-color);

  .header {
    background: var(--box-alt-background-color);
    border-bottom: 1px solid var(--box-border-color);
    padding: 0 var(--spacing);
    height: 29px;
    line-height: 29px;
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;

    .prev-page,
    .next-page {
      position: absolute;
      height: 25px;
      top: 0;
      border-radius: 0;
      border-top: none;
      border-bottom: 1px solid var(--box-border-color);
    }

    .prev-page {
      left: 0;
      border-left: none;
    }

    .next-page {
      right: 0;
      border-right: none;
    }

  }

  .object-list-container {
    overflow-y: auto;
    height: 100%;

    .object-list {
      list-style: none;
      margin: 0;
      padding: 0;

      .object-item {
        width: 100%;
        padding: 5px var(--spacing);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-bottom: var(--base-border);
        display: flex;
        flex: 1;
        flex-direction: row;
        cursor: pointer;
        border-left: 5px solid var(--valid-object-border-color);
        user-select: none;

        .object-icon {
          display: flex;
          flex-direction: row;

          .icon {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: var(--spacing-third);
            height: 100%;
            color: var(--icon-color);

            &.hasNotes,
            &.hasFiles {
              color: var(--icon-solid-color);
            }

            &.hasFiles {
              .missingAccess {
                color: var(--icon-missing-files-color);
              }
            }

            &.type {
              width: 24px;
              align-items: center;
              color: var(--icon-solid-color);
            }
          }
        }

        .object-description {
          margin-left: var(--spacing);
        }

        &.selected {
          --text-color: var(--box-selected-active-text-color);
          --text-secondary-color: var(--box-selected-active-text-color);
          color: var(--text-color);
          background-color: var(--box-selected-active-background-color) !important;

          .container,
          .type {
            color: var(--box-selected-active-text-color) !important;
          }

          .icon {
            color: var(--box-selected-active-text-color);

            &.hasNotes,
            &.hasFiles,
            &.type {
              color: var(--box-selected-active-text-color);
            }

            &.hasFiles {
              .missingAccess {
                color: var(--box-selected-active-text-color);
              }
            }
          }
        }

        &.searching {
          background-color: var(--searching-background-color);

          .type {
            color: var(--searching-type-active-text-color);
          }
          .container {
            color: var(--searching-container-active-text-color);
          }
        }

        &.notValid {
          border-left-color: var(--invalid-object-border-color);
        }

        .container {
          font-size: var(--font-size-sm);
          color: var(--container-color);
        }

        .type {
          font-size: var(--font-size-sm);
          color: var(--type-color);
        }
      }
    }
  }
}

.object-insert {
  display: flex;
  flex-direction: row;
  background-color: var(--box-alt-background-color);
  padding: var(--spacing);
  border-top: 1px solid var(--box-border-color);

  .object-insert-number {
    margin-right: var(--spacing);

    input {
      width: 100%;
    }
  }

}

.object {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  background-color: var(--background-color);
}

.object-contents {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.object-container {
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--spacing-double);
}