.search {
  position: absolute;
  top: var(--toolbar-height);;
  left: auto;
  right: var(--spacing);
  padding: var(--spacing-half) var(--spacing);
  background-color: var(--background-color);
  z-index: 15;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: var(--base-box-shadow);
  display: flex;
  flex-direction: row;


  .buttons {
    display: flex;
    flex-direction: row;

    .button-component {
      border: none;
      background-color: var(--background-color);
      cursor: pointer;
      padding: 0 var(--spacing-half);

      &:focus {
        box-shadow: none;
      }
    }
   
  }

  .search-field {
    input {
      width: 180px;
    }
  }

  .search-total {
    width: 95px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--spacing);
    padding-right: var(--spacing-double);
  }
}