#selection {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;

  .selection-tree {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    height: 100%;

    &> .title {
      background: var(--box-alt-background-color);
      border-bottom: 1px solid var(--box-border-color);
      padding: 0 var(--spacing);
      height: 29px;
      line-height: 29px;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }

    .note-icon {
      width: 38px;
      min-width: 38px;
      align-items: center;
      justify-content: center;
      display: flex;
      border: var(--base-border);
      box-shadow: var(--tree-node-box-shadow);
      height: var(--tree-node-height);
      color: var(--box-border-color);

      &.hasNote {
        color: var(--text-color);
      }

    }

    .tree-nodes-content {
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .root-node,
  .tree-nodes {
    list-style: none;
  }

  .root-node {
    padding-left: var(--spacing);
    padding-right: var(--spacing);
  }

  .tree-nodes {
    border-left: 1px solid var(--box-selected-border-color);
    padding-left: 30px;
    margin-left: 14px;
  }

  .tree-node {
    .tree-node-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: var(--spacing-half);

      &> button {
        border: none;
        background: none;
        border-radius: 0;
        width: 30px;

        &:focus {
          box-shadow: none;
        }
      }

      .button-spacer {
        width: 30px;
      }

      .select-box {
        width: 44px;
        min-width: 44px;
        background-color: var(--box-alt-background-color);;
        border: var(--base-border);
        border-color: var(--box-border-color);
        box-shadow: var(--tree-node-box-shadow);
        height: var(--tree-node-height);
        font-size: var(--font-size-md);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--box-selected-border-color);

        &.selected {
          color: var(--box-selected-active-background-color);
        }
      }

      .object-insert {
        height: var(--tree-node-height);
        background-color: var(--box-alt-background-color);;
        border: var(--base-border);
        border-color: var(--box-border-color);
        box-shadow: var(--tree-node-box-shadow);
        padding: var(--spacing-half) var(--spacing);
        width: 120px;
        min-width: 120px;
      }

      .tree-node-content {
        border: var(--base-border);
        box-shadow: var(--tree-node-box-shadow);
        padding: 0 var(--spacing) 0 var(--spacing);
        min-height: var(--tree-node-height);

        .title,
        .container {
          cursor: default;
        }

        .container {
          color: var(--container-color);
        }
      }

    }
  }

}