.update-available {
  height: 30px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding-left: var(--spacing);
  align-content: center;
  align-items: center;
  justify-content: left;
  border-bottom: var(--base-border);
  height: 0px;
  transition: height 0.25s;

  &.active {
    height: 30px;
  }

  .icon {
    margin-right: var(--spacing);
  }

  .close {
    position: absolute;
    right: var(--spacing);
    border: 0;
    height: 16px;
    width: 16px;
    margin: 0;
    padding: 0;
    background: transparent;

    color: var(--text-secondary-color);

    &:hover {
      color: var(--text-color);
    }

    &:focus {
      outline: 0;
    }
  }

}