os: Visual Studio 2015

platform:
  - x64

environment:
  nodejs_version: '12.16.3'

  cache:
    - '%USERPROFILE%\.electron'
    - '%LOCALAPPDATA%\Yarn\Cache\v4'

skip_tags: true
skip_branch_with_pr: true

version: '{build}'

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - yarn install --force

build_script:
  - yarn release