:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  --font-size: 12px;
  --font-size-sm: 11px;
  --font-size-md: 14px;
  --font-size-lg: 28px;
  --font-size-xl: 32px;
  --font-size-xxl: 42px;
  --font-size-xs: 9px;

  --font-weight-semibold: 600;
  --font-weight-bold: 800;
  --font-weight-light: 300;

  --border-radius: 3px;
  --base-border: 1px solid var(--box-border-color);
  --base-box-shadow: 0 2px 7px var(--shadow-color);

  --easing-ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --easing-ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --easing-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);

  --spacing: 10px;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --spacing-quad: calc(var(--spacing) * 4);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-third: calc(var(--spacing) / 3);

  --scroll-bar-size: 10px;
  --scroll-bar-thumb-background-color: rgba(0, 0, 0, 0.2);
  --scroll-bar-thumb-background-color-active: rgba(0, 0, 0, 0.5);

  --button-height: 25px;
  --button-background: var(--main-color);
  --button-border-radius: 2px;
  --button-hover-background: #6899fc;
  --button-text-color: #fff;
  --button-focus-border-color: var(--main-color)-600;
  --button-link-color: #0366d6;
  --secondary-button-background: #fafbfc;
  --secondary-button-hover-background: #fff;
  --secondary-button-text-color: var(--text-color);
  --secondary-button-focus-shadow-color: rgba(225, 228, 232, 0.75);
  --secondary-button-focus-border-color: #d1d5da;
  --icon-button-height: 16px;
  --button-distructive-color: #d61010;

  --link-button-color: #0366d6;
  --link-button-hover-color: #005cc5;

  --tab-bar-height: 29px;
  --tab-bar-active-color: var(--main-color);
  --tab-bar-background-color: #fff;
  --tab-bar-count-color: var(--text-color);
  --tab-bar-count-background-color: #e1e4e8;

  --text-color: #24292e;
  --text-secondary-color: #6a737d;

  --main-color: #528bff;
  --background-color: #fff;

  --title-bar-border-color: #2d72fa;

  --box-border-color: #e1e4e8;
  --shadow-color: rgba(71, 83, 95, 0.19);
  --overlay-background-color: rgba(0, 0, 0, 0.4);
  --box-background-color: var(--background-color);
  --box-alt-background-color: #f6f8fa;
  --box-skeleton-background-color: #e1e4e8;
  --focus-color: var(--main-color);

  --text-field-height: 25px;
  --text-field-focus-shadow-color: rgba(3, 102, 214, 0.25);

  --box-selected-text-color: #24292e;
  --box-selected-background-color: #ebeef1;
  --box-selected-border-color: #959da5;
  --box-selected-active-background-color: var(--main-color);
  --box-selected-active-text-color: #fff;
  --box-selected-active-border-color: #959da5;
  --box-overflow-shadow-background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 90%, white 100%);
  --box-selected-children-background-color: #cdffd8;
  --box-selected-children-color: #2eb94f;

  --popup-z-index: 10;
  --foldout-z-index: calc(var(--popup-z-index) - 2);
  --dialog-error-color: #d61010;

  --toolbar-height: 50px;

  --toolbar-background-color: #24292e;
  --toolbar-border-color: #24292e;
  --toolbar-text-color: #fff;
  --toolbar-text-secondary-color: #d1d5da;

  --toolbar-button-color: var(--toolbar-text-color);
  --toolbar-button-background-color: transparent;
  --toolbar-button-border-color: black;
  --toolbar-button-secondary-color: var(--toolbar-text-secondary-color);

  --toolbar-button-hover-color: #fff;
  --toolbar-button-hover-background-color: #2f363d;
  --toolbar-button-hover-border-color: var(--toolbar-button-border-color);

  --toolbar-button-focus-background-color: #2f363d;

  --toolbar-button-active-color: var(--text-color);
  --toolbar-button-active-background-color: var(--background-color);
  --toolbar-button-active-border-color: var(--background-color);

  --toolbar-button-progress-color: #2f363d;
  --toolbar-button-focus-progress-color: #444d56;
  --toolbar-button-hover-progress-color: #444d56;
  --toolbar-dropdown-open-progress-color: #e1e4e8;

  --container-color: #005cc5;
  --preservation-color: #c678dd;
  --access-copy-color: #e49f39;
  --modified-master-color: #11996c;
  --sub-documentation-color: #0088ff;

  --notes-background-color: #dbedff;
  --notes-color: #2188ff;

  --obligation-color-required: #d92626;
  --obligation-color-strongly-recommended: #f98728;
  --obligation-color-recommended: #2188ff;

  --invalid-color: #d92626;
  --invalid-object-border-color: #fdb8c0;
  --valid-object-border-color: #acf2bd;

  --edtf-humanize-color: #005cc5;

  --tree-node-height: 38px;
  --tree-node-box-shadow: 0 2px 2px var(--shadow-color);

  --lock-open-color: #36d45e;
}